<ion-view view-title="Avatar » Instruments" ng-controller="AvatarInstrumentsCtrl as vm">
    <ion-nav-buttons side="secondary">
        <select ng-model="vm.form.avatarId" ng-options="avatarId for avatarId in vm.avatarIds"
                ng-change="vm.switchAvatar()"></select>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div><img ng-src="{{vm.image.body.contentUrl}}"/></div>
            <pre><code>{{vm.joint.body | json}}</code></pre>
            <pre><code>{{vm.tactile.body | json}}</code></pre>

            <div class="item">
                <div class="row">
                    <div class="col">
                        Actual Date and Time : {{vm.battery.body.dateCreated}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Battery Charge : {{vm.battery.body.percentage}}%
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        Data Sensor Sonar :
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Left Sensor : {{vm.sonar.body.leftSensor}}
                    </div>
                    <div class="col">
                        Right Sensor : {{vm.sonar.body.rightSensor}}
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        Pose Name  : {{vm.robotpose.body.actualPoseName}}
                    </div>
                    <div class="col">
                        Actual Pose : {{vm.robotpose.body.actualPoseTime}}
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">
                        Joint Names  :
                    </div>
                    <div class="col">
                        Joint Value :
                    </div>
                </div>
            </div>

            <div class="item">
                <table width = "100%" ng-repeat="angle in vm.motion.body.angles">
                   <tr>
                         <td width= "50%" >{{angle.name}}</td>
                         <td>{{angle.angle}}</td>
                   </tr>
                </table>
            </div>

            <ion-item ng-repeat="msg in vm.messages" class="text-wrap">
                <small>{{msg.headers.destination}}</small>
                <pre><code>{{msg.body | json}}</code></pre>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>