<ion-view view-title="Avatar : Remote Control">
    <ion-content>

        <button class="button button-positive button-block" ng-click="sayHello()">Say Hello</button>

        <button class="button button-positive button-block" ng-click="wakeUp()">WakeUp</button>
        <button class="button button-positive button-block" ng-click="goToPosture()">Stand</button>
        <button class="button button-positive button-block" ng-click="standInit()">Stand Init</button>
        <button class="button button-positive button-block" ng-click="standZero()">Stand Zero</button>
        <button class="button button-positive button-block" ng-click="sit()">Sit</button>
        <button class="button button-positive button-block" ng-click="sitRelax()">Sit Relax</button>
        <button class="button button-positive button-block" ng-click="rest()">rest</button>

    </ion-content>
</ion-view>
