<ion-view view-title="Avatar : Remote Control">
    <ion-content>

        <div class="list card">
            <h2 class="item stable-bg">
                Speech Synthesis
            </h2>
            <label class="item item-select item-stacked-label">
                <span class="input-label">Language:</span>
                <select ng-model="form.speech.synthesis.inLanguage" ng-options="locale.name for locale in locales"></select>
            </label>
            <div class="row item item-input item-stacked-label">
                <div class="col">
                    <textarea type="text" ng-model="form.speech.synthesis.object" rows="3"></textarea>
                </div>
                <div class="col-20">
                    <button class="button button-positive button-block" ng-click="communicateAction()"><i class="icon ion-chatbubble-working"></i> Say!</button>
                </div>
            </div>
        </div>

        <ul class="list card">
            <h2 class="item stable-bg">Audio</h2>
            <label class="item item-input">
                <span class="input-label">Content URL</span>
                <input type="text" ng-model="form.audio.contentUrl"/>
            </label>
            <ion-item>
                <div class="row">
                    <div class="col">
                        <button class="button button-positive button-block" ng-click="playAudio()"><i class="icon ion-play"></i> Play!</button>
                    </div>
                    <div class="col">
                        <button class="button button-light button-block" ng-click="stopAudio()"><i class="icon ion-stop"></i> Stop</button>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input">
                <div class="row">
                    <div class="col">
                        <input id="audioFile" type="file" accept="audio/*"/>
                    </div>
                    <div class="col-20">
                        <button class="button button-positive button-block" ng-click="playAudioData()"><i class="icon ion-play"></i> Play!</button>
                    </div>
                </div>
            </ion-item>
            <ion-item class="row range">
                <div class="col">
                    <span class="input-label">
                        Duration: <strong>{{form.audio.recordDuration}}</strong> s
                    </span>
                    <input type="range" ng-model="form.audio.recordDuration" min="1.0" max="30.0" step="1.0" style="width: 80%"/>
                </div>
                <div class="col-20">
                    <button class="button button-assertive button-block" ng-click="recordAudio()"><i class="icon ion-record"></i> Record!</button>
                </div>
            </ion-item>
            <ion-item class="row item-input item-stacked-label">
                <div class="col">
                    <audio id="recorded" controls="controls" style="width: 100%">
                        <source />
                    </audio>
                </div>
                <div class="col-20">
                    <button class="button button-block" ng-click="replayRecorded()"><i class="icon ion-play"></i> Replay</button>
                </div>
            </ion-item>
            <li class="item item-icon-left item-text-wrap">
                <span class="input-label">
                    Speech Recognition
                </span>
                <i class="icon ion-chatbubble-working"></i> {{recognizedSpeech.result[0].alternative[0].transcript || '(no input from speech recognition yet)'}}
                <span class="badge badge-calm" ng-show="recognizedSpeech.result[0]">{{recognizedSpeech.result[0].alternative[0].confidence * 100 | number:0}}%</span>
            </li>
            <div class="row item range">
                <label class="col item-stacked-label">
                    <span class="input-label">
                        Audio Volume: <strong>{{form.audioVolume * 100}}%</strong>
                    </span>
                    <input type="range" ng-model="form.audioVolume" min="0.0" max="1.0" step="0.1" style="width: 80%"/>
                </label>
                <div class="col-20">
                    <button class="button button-default button-block" ng-click="changeVolume()"><i class="icon ion-volume-medium"></i> Set</button>
                </div>
            </div>
        </ul>

        <ion-list class="card">
            <h2 class="item stable-bg">LEDs</h2>
            <label class="item item-select item-stacked-label">
                <span class="input-label">LED Group/Name:</span>
                <select ng-model="form.leds.led" ng-options="led.id for led in leds"></select>
            </label>
            <div class="row item item-input item-stacked-label">
                <label class="col">
                    <span class="input-label">Color: <strong>{{form.leds.color}}</strong></span>
                    <input type="color" ng-model="form.leds.color" />
                </label>
                <div class="col-20">
                    <button class="button button button-block" ng-click="ledsFadeRgb()">Fade Color</button>
                </div>
            </div>
            <div class="row item item-stacked-label">
                <div class="col">
                    <label class="range">
                        <span class="input-label">Intensity: <strong>{{form.leds.intensity * 100}}</strong>%</span>
                        <input type="range" ng-model="form.leds.intensity" min="0.0" max="1.0" step="0.1"/>
                    </label>
                </div>
                <div class="col-20">
                    <button class="button button button-block" ng-click="ledsFade()">Fade Intensity</button>
                </div>
            </div>
            <label class="item range item-stacked-label">
                <span class="input-label">Duration: <strong>{{form.leds.duration}}</strong> s</span>
                <input type="range" ng-model="form.leds.duration" min="0.5" max="10" step="0.2"/>
            </label>
            <ion-item>
                <div class="row">
                    <div class="col"><button class="button button-balanced button-block" ng-click="ledsOn()">On</button></div>
                    <div class="col"><button class="button button-light button-block" ng-click="ledsOff()">Off</button></div>
                </div>
                <div class="row">
                    <div class="col"><button class="button button-energized button-block" ng-click="ledsRandomEyes()">Random Eyes</button></div>
                    <div class="col"><button class="button button-energized button-block" ng-click="ledsRasta()">Rasta</button></div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list class="card">
            <h2 class="item stable-bg">Actor</h2>
            <label class="item item-select item-stacked-label">
                <span class="input-label">Acting Script:</span>
                <select ng-model="form.actor.actingScript" ng-options="actingScript.id for actingScript in actingScripts"></select>
            </label>
            <div class="item">
                <button class="button button-energized button-block" ng-click="act()"><i class="icon ion-ios-videocam"></i> Act!</button>
            </div>
        </ion-list>

        <ion-list class="card">
            <h2 class="item stable-bg">Posture</h2>
            <label class="item range item-stacked-label" ng-show="motionAllowed">
                <span class="input-label">
                    Speed: <strong>{{form.speed}}</strong>
                </span>
                <input type="range" ng-model="form.speed" min="0.2" max="0.7" step="0.1"/>
            </label>
            <ion-item>
                <button class="button button-calm button-block" ng-click="rest()">Rest</button>
            </ion-item>
            <ion-item ng-show="motionAllowed">
                <button class="button button-energized button-block" ng-click="wakeUp()">Wake Up</button>
                <button class="button button-default button-block" ng-click="changePosture('Stand')">Stand</button>
                <button class="button button-default button-block" ng-click="changePosture('StandInit')">Stand Init</button>
                <button class="button button-default button-block" ng-click="changePosture('StandZero')">Stand Zero</button>
                <button class="button button-default button-block" ng-click="changePosture('Sit')">Sit</button>
                <button class="button button-default button-block" ng-click="changePosture('SitRelax')">Sit Relax</button>
            </ion-item>
        </ion-list>

        <ion-list class="card" ng-show="motionAllowed">
            <h2 class="item stable-bg">Move To (walking)</h2>
            <label class="item range item-stacked-label">
                <span class="input-label">Back distance: <strong>{{form.moveTo.backDistance}}</strong> m</span>
                <input type="range" ng-model="form.moveTo.backDistance" min="-2.5" max="2.5" step="0.1"/>
            </label>
            <label class="item range item-stacked-label">
                <span class="input-label">Right distance: <strong>{{form.moveTo.rightDistance}}</strong> m</span>
                <input type="range" ng-model="form.moveTo.rightDistance" min="-2.5" max="2.5" step="0.1"/>
            </label>
            <label class="item range item-stacked-label">
                <span class="input-label">Turn CCW: <strong>{{form.moveTo.turnCcwDeg}}</strong>°</span>
                <input type="range" ng-model="form.moveTo.turnCcwDeg" min="-85" max="85" step="5"/>
            </label>
            <ion-item>
                <button class="button button-positive button-block" ng-click="moveTo()">Move To</button>
            </ion-item>
        </ion-list>

        <ion-list class="card" ng-show="motionAllowed">
            <h2 class="item stable-bg">Joint: Interpolate Angle</h2>
            <label class="item item-select item-stacked-label">
                <span class="input-label">Joint</span>
                <select ng-model="form.interpolateAngle.joint" ng-options="joint.id for joint in joints"></select>
            </label>
            <label class="item range item-stacked-label">
                <span class="input-label">Target Angle CCW: <strong>{{form.interpolateAngle.targetCcwDeg}}</strong>°</span>
                <input type="range" ng-model="form.interpolateAngle.targetCcwDeg" min="-85" max="85" step="5"/>
            </label>
            <label class="item range item-stacked-label">
                <span class="input-label">Duration: <strong>{{form.interpolateAngle.duration}}</strong> s</span>
                <input type="range" ng-model="form.interpolateAngle.duration" min="1" max="10"/>
            </label>
            <ion-item>
                <button class="button button-positive button-block" ng-click="jointInterpolateAngle()">Joint: Interpolate Angle</button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
