<!-- Ionic Elastichat: http://codepen.io/rossmartin/pen/XJmpQr -->
<!-- <i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>{{toUser.name}}</div> -->
<ion-view id="userMessagesView"
          cache-view="false"
          view-title="Chat"
          ng-controller="SocialChatCtrl as vm">
    <ion-nav-buttons side="secondary">
        <select ng-model="vm.form.audio.inLanguage" ng-options="locale.id for locale in vm.locales"></select>
        <audio id="played" controls="controls" style="max-width: 3em">
            <source />
        </audio>
        <select ng-model="vm.form.avatarId" ng-options="avatarId for avatarId in vm.avatarIds"
                ng-change="vm.switchAvatar()"></select>
    </ion-nav-buttons>

    <div class="loader-center" ng-if="!vm.doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>

    <ion-content has-bouncing="true" class="has-header has-footer"
                 delegate-handle="userMessageScroll">

<ng-audio-recorder id="audioInput" audio-model="recordedInput">
    <div ng-if="recorder.isAvailable">
        <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
            Start</button>
        <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
            Stop</button>
        <button ng-click="recorder.playbackRecording()" type="button"
            ng-disabled="recorder.status.isRecording || !recorder.audioModel">
            Play</button>
    </div>
    <div ng-if="!recorder.isAvailable">
        No recorder available.
    </div>
</ng-audio-recorder>

        <div ng-repeat="message in vm.messages" class="message-wrapper"
             on-hold="vm.onMessageHold($event, $index, message)">

            <div ng-if="user._id !== message.userId">

                <img ng-click="viewProfile(message)" class="profile-pic left"
                     ng-src="{{vm.toUser.pic}}" onerror="onProfilePicError(this)"/>

                <div class="chat-bubble left">

                    <p>
                        <img ng-src="{{message.image.contentUrl}}"
                             ng-if="message.image.contentUrl"
                             style="max-width: 100%; max-height: 20em"/>
                    </p>
                    <p>
                        <audio id="audio_{{message['@id']}}" controls="controls" ng-if="message.audio.contentUrl"
                               style="display: block; max-width: 100%">
                            <source ng-src="{{message.audio.contentUrl}}" />
                        </audio>
                    </p>

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                    </div>

                    <div class="message-detail">
                              <span ng-click="viewProfile(message)"
                                    class="bold">{{vm.toUser.username}}</span>,
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>
            </div>

            <div ng-if="user._id === message.userId">

                <img ng-click="viewProfile(message)" class="profile-pic right"
                     ng-src="{{vm.user.pic}}" onerror="onProfilePicError(this)"/>

                <div class="chat-bubble right">

                    <p>
                        <img ng-src="{{message.image.contentUrl}}"
                             ng-if="message.image.contentUrl"
                             style="max-width: 100%; max-height: 20em"/>
                    </p>
                    <p>
                        <audio id="audio_{{message['@id']}}" controls="controls" ng-if="message.audio.contentUrl"
                               style="display: block; max-width: 100%">
                            <source ng-src="{{message.audio.contentUrl}}" />
                        </audio>
                    </p>

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                    </div>

                    <div class="message-detail">
                              <span ng-click="viewProfile(message)"
                                    class="bold">{{vm.user.username}}</span>,
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>

            </div>

            <div class="cf"></div>

        </div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="vm.sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="vm.form.message" ng-enter="vm.sendMessage(sendMessageForm)"
                          valueExpression="" placeholder="Send {{vm.toUser.username}} a message..."
                          required minlength="1" maxlength="1500" msd-elastic autofocus
                          style="width: 100%"></textarea>
            </label>

            <div class="mute-btn-wrap">
                <a class="mute-btn button button-light" ng-click="vm.toggleMuted()" title="Mute/Unmute">
                    <i class="icon" ng-class="{'ion-volume-high': !vm.form.audio.muted, 'ion-volume-mute': vm.form.audio.muted}"></i>
                </a>
            </div>
            <div class="voicenote-btn-wrap">
                <input id="recordedMic" type="file" accept="audio/*;capture=microphone"
                       onchange="angular.element(this).scope().vm.sendRecordedMic()"
                        class="voicenote-btn voicenote-input"/>
            </div>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!vm.form.message || vm.form.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>

</ion-view>
