<ion-view view-title="Recognition: Camera">
  <ion-content>
      <ion-list>
        <ion-item>
            <input id="imageFile" type="file" accept="image/*"/>
            <button class="button button-small button-positive" ng-click="loadImage()"><i class="ion-refresh"></i> Load</button>
            <button class="button button-small button-stable" ng-click="testStomp()">Test Stomp</button>
        </ion-item>
        <ion-item>
            <webcam on-stream="onStream(stream)" on-access-denied="onAccessDenied(err)"
                    on-streaming="onStreaming()" video="myVideo">
            </webcam>
            <button class="button button-small" ng-click="makeSnapshot()"><i class="ion-camera"></i> Snap!</button>
            <button class="button button-small button-energized" ng-click="makeSnapshotAndRecognize()"><i class="ion-camera"></i> Snap &amp; Recognize!</button>
            <button class="button button-small" ng-click="recognize()" ng-show="snapshotData"><i class="ion-person"></i> Recognize</button>
            <button class="button button-small" ng-click="startStreaming()" ng-show="!streamer"><i class="ion-record"></i> Start Streaming</button>
            <button class="button button-small" ng-click="stopStreaming()" ng-show="streamer"><i class="ion-stop"></i> Stop Streaming</Streaming></button>
            <div>
                Streaming interval: <input ng-model="streamingInterval" type="number" min="300" max="15000" step="100"/>
            </div>
            <div style="font-size: 3em">
                Human#1: {{humanPos.x | number:2}}, {{humanPos.y | number:2}}, {{humanPos.z | number:2}}
            </div>
        </ion-item>
          <ion-item>
            <canvas id="snapshot" style="display: none"></canvas>
            <button ng-click="downloadSnapshot(snapshotData)" ng-disabled="!snapshotData" class="button button-small">Download</button>
            <button class="btn btn-small" ng-click="showBase64 = !showBase64">Show as base64 encoded URL</button>
            <textarea class="snapshot-data" ng-model="snapshotData" ng-show="showBase64"></textarea>
        </ion-item>
          <ion-item ng-repeat="recognized in recognizeds">
              <i class="ion-person"></i> {{recognized.name}} ({{recognized.minPoint.x}},{{recognized.minPoint.y}})..({{recognized.maxPoint.x}},{{recognized.maxPoint.y}})
          </ion-item>
          <ion-item>
            <div id="uploadPreview" style="position: relative; height: 300px">
                <div ng-repeat="recognized in recognizeds"
                     style="position: absolute; font-size: 80%; color: yellow; background-color: rgba(0, 0, 0, 0.5);" ng-style="recognized.cssStyle">
                    <strong>{{recognized.name}}</strong>
                </div>
                <div ng-repeat="marker in markers"
                     style="position: absolute; font-size: 80%; color: yellow; background-color: green;" ng-style="marker.cssStyle">

                </div>
                <img style="max-height: 240px" ng-src="{{imageObject.contentUrl}}" ng-show="imageObject.contentUrl"/>
          </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
