<ion-view view-title="Social: Monitor">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap item-avatar item-button-right" ng-repeat="post in posts">
                <img ng-src="{{post.from.photo.url}}"/>
                <small class="balanced">{{post['@type']}}</small>
                <strong><a ng-href="{{post.from.url}}">{{post.from.name}}</a></strong>: <span>{{post.message}}</span>
                <a class="button button-light" ng-href="{{post.url}}" title="{{post.channel.name}}">
                    <i class="icon" ng-class="'ion-social-' + post.channel.id"></i></a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
